<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>智能森林草原监测预警系统</title>
    <!-- 引入外部CSS文件 -->
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    {% block content %}
    {% endblock %}
    
    <!-- 引入外部JavaScript文件 -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/main.js"></script>
    
    {% block scripts %}
    {% endblock %}
</body>
</html>